body, html {
    height: 100%;
    margin: 0;
    font-family: Helvetica;
    }
.bg {
    background-image: url("/* background image */");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
a.aboutme, a.portfolio, a.shop, a.contact {
    color: white;
    padding: 6px;
    outline-style: dotted;
    outline-color: rgba(255, 255, 255, 0.342);
    outline-width: 3px;
    text-decoration: none;
}
font.title {
    text-align: center;
    letter-spacing:7px;
    padding: 10px;
    outline-style: double;
    outline-color: white;
    outline-width: 3px;
    color: white;
    vertical-align: middle;
}
